extends ../layouts/main

block body
  .container
    .row.page-header
      .col-xs-10
        h3 Visit #{visit.visitNumber}
      .col-xs-2
        - if (visit.billType == 'Federal')
          h3.bill-type.federal= visit.billType
        - if (visit.billType == 'Commercial')
          h3.bill-type.commercial= visit.billType
        - if (visit.billType == 'Workers Compenstaion')
          h3.bill-type.workers-compensation= visit.billType

    .col-xs-6
      .panel.panel-default
        .panel-heading Claim Information
        table.table.table-hover
          thead
            tr
              th CPT
              th Charge
              th Status
              th Code
          tbody
            each cpt,index in visit.cpt
              tr
                td #{cpt}
                td #{visit.unitCharge[index]}
                td #{visit.status[index]}
                td #{visit.code[index]}
        .panel-body
          p Total remaining claim balance:
          p PR amount:

      .panel.panel-default
        .panel-heading Carrier Information
        table.table.table-hover
          thead
            tr
              th Carrier Name
              th COB
              th Provider Portal URI
              th Contact Numbers
            each carrier in visit.carrier
              tr
                td
                  a(href="/carriers/"+carrier.name) #{carrier.name}
                td #{carrier.cob}
                td
                td
        .panel-body
          p Primary claim number:  #{visit.carrier[0].claimNumber}
          p Primary check number:  #{visit.carrier[0].checkNumber}
          p Primary EOB date:  #{visit.carrier[0].eobDate}
          p Primary check date:  #{visit.carrier[0].checkDate}

      .panel.panel-default
        .panel-heading Additional Information
        .panel-body
          p Specimen code: #{visit.specimenCode}

    .col-xs-6

      if visit.archive.created
        .panel.panel-default
          .panel-heading Archive
          .panel-body
            p Appealed date
            p Appealed carrier
            p Medium (fax&thinsp;/&thinsp;mail, etc.)

      .panel-group(id="comments" role="tablist" aria-multiselectable="true")
        // - var comments = [{created: 'TODO', author: 'TODO'}, {created: 'TODO', author: 'TODO'}];
        each comment,index in visit.comments
          .panel.panel-default
            .panel-heading(role="tab" id="heading-"+index)
              h4.panel-title
                a.collapsed(data-toggle="collapse" data-parent="#comments" href="#collapse-"+index aria-expanded="false" aria-controls="collapse-"+index)
                  | #{comment.modified}&nbsp;
                  span.glyphicon.glyphicon-chevron-down.small(aria-hidden="true")
                p.pull-right #{comment.author}
            .panel-collapse.collapse(id="collapse-"+index role="tabpanel" aria-labelledby="heading-"+index)
              .panel-body
                | #{comment.body}