extends ../layouts/main

block body
  .container
    .row.page-header
      .col-xs-10
        h3 Visit #{visit.visitNumber}
      .col-xs-2
        - if (visit.billType == 'Federal')
          h3.bill-type.federal= visit.billType
        - if (visit.billType == 'Commercial')
          h3.bill-type.commercial= visit.billType
        - if (visit.billType == 'Workers Compenstaion')
          h3.bill-type.workers-compensation= visit.billType

    .col-xs-6
      .panel.panel-default
        .panel-heading Claim Information
        table.table.table-hover
          thead
            tr
              th CPT
              th Charge
              th Status
          tbody
            each cpt,index in visit.cpt
              tr
                td #{cpt}
                td #{visit.unitCharge[index]}
                td #{visit.status[index]}
        .panel-body
          p Total remaining claim balance:
          p PR amount:

      .panel.panel-default
        .panel-heading Carrier Information
        table.table.table-hover
          thead
            tr
              th Carrier Name
              th COB
              th Effective Dates
            each carrier, index in visit.carrier.filter(Boolean)
              tr
                td
                  a(href="/carriers/"+carrier) #{carrier}
                - if (visit.cob[index] == 0)
                  td Primary
                - else if (visit.cob[index] == 1)
                  td Secondary
                - else if (visit.cob[index] == 2)
                  td Tertiary
                td
        // .panel-body

      .panel.panel-default
        .panel-heading Additional Information
        .panel-body
          p Specimen code: #{visit.specimenCode}

    .col-xs-6

      if visit.archived
        .panel.panel-default
          .panel-heading Archive
          .panel-body
            p Appealed date
            p Appealed carrier
            p Medium (fax&thinsp;/&thinsp;mail, etc.)

      .panel-group(id="comments" role="tablist" aria-multiselectable="true")
        for comment, index in comments
          .panel.panel-default
            .panel-heading(role="tab" id="heading-"+index)
              h4.panel-title
                a.collapsed(data-toggle="collapse" data-parent="#comments" href="#collapse-"+index aria-expanded="false" aria-controls="collapse-"+index)
                  | #{comment.modified.toDateString()}&nbsp;
                  span.glyphicon.glyphicon-chevron-down.small(aria-hidden="true")
                p.pull-right #{comment.author}
            .panel-collapse.collapse(id="collapse-"+index role="tabpanel" aria-labelledby="heading-"+index)
              .panel-body
                p #{comment.body}
                if comment.claimNumber
                  p Claim number:  #{comment.claimNumber}
                if comment.eobDate
                  p EOB date: #{comment.eobDate.toDateString()}
                if comment.paymentNumber
                  p Payment number:  #{comment.paymentNumber}
                if comment.paymentDate
                  p Payment date: #{comment.paymentDate.toDateString()}
